{
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-redeclare": "off",
    "no-cond-assign": "off",
    "no-prototype-builtins": "off"
  },
  "globals": {
    "chrome": "readonly",
    "google": "readonly"
  }
}
