.box {
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
}

/*---------------------------] Positioning [-----------------------*/

.fixed-box {
  position: fixed;
}

.absolute-box {
  position: absolute;
}

.relative-box {
  position: relative;
}

.static-box {
  position: static;
}

.inverted-box {
  top: auto;
  left: auto;
  bottom: 100px;
  right: 100px;
}

.vw-box {
  top: 10vw;
  left: 10vw;
  width: 10vw;
  height: 10vw;
}

.vh-box {
  top: 10vh;
  left: 10vh;
  width: 10vh;
  height: 10vh;
}

.vmin-box {
  top: 10vmin;
  left: 10vmin;
  width: 10vmin;
  height: 10vmin;
}

.vmax-box {
  top: 10vmax;
  left: 10vmax;
  width: 10vmax;
  height: 10vmax;
}

.big-box {
  width: 200px;
  height: 200px;
}

.percent-box {
  top: 100%;
  left: 100%;
  width: 100%;
  height: 100%;
}

.zero-dimension-box {
  width: 0;
  height: 0;
}

/*---------------------------] Z-Index [-----------------------*/

.z-box {
  z-index: 400;
}

/*---------------------------] Transforms [-----------------------*/

.matrix-box {
  transform: matrix(1,0,0,1,0,0);
}

.matrix-3d-box {
  transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
}

.perspective-box {
  transform: perspective(500px);
}

.rotate-box {
  transform: rotate(45deg);
}

.rotate-3d-box {
  transform: rotate3d(1, 2, 3, 45deg);
}

.rotate-x-box {
  transform: rotateX(45deg);
}

.rotate-y-box {
  transform: rotateY(45deg);
}

.rotate-z-box {
  transform: rotateZ(45deg);
}

.rotate-radian-box {
  transform: rotate(1.57rad);
}

.rotate-gradian-box {
  transform: rotate(100grad);
}

.rotate-turn-box {
  transform: rotate(.5turn);
}

.rotate-tl-box {
  transform-origin: top left;
  transform: rotate(45deg);
}

.rotate-tr-box {
  transform-origin: top right;
  transform: rotate(45deg);
}

.rotate-bl-box {
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.rotate-br-box {
  transform-origin: bottom right;
  transform: rotate(45deg);
}

.rotate-fixed-box {
  transform-origin: 20px 30px;
  transform: rotate(45deg);
}

.scale-box {
  transform: scale(2, 3);
}

.scale-single-box {
  transform: scale(2);
}

.scale-3d-box {
  transform: scale3d(2, 3, 4);
}

.scale-x-box {
  transform: scaleX(2);
}

.scale-y-box {
  transform: scaleY(2);
}

.scale-z-box {
  transform: scaleZ(2);
}

.skew-box {
  transform: skew(20deg, 20deg);
}

.skew-single-box {
  transform: skew(20deg);
}

.skew-x-box {
  transform: skewX(20deg);
}

.skew-y-box {
  transform: skewY(20deg);
}

.translate-box {
  transform: translate(20px, 30px);
}

.translate-single-box {
  transform: translate(20px);
}

.translate-single-percent-box {
  transform: translate(20%);
}

.translate-x-box {
  transform: translateX(20px);
}

.translate-y-box {
  transform: translateY(30px);
}

.translate-z-box {
  transform: translateZ(40px);
}

.translate-percent-box {
  transform: translate(20%, 30%);
}

.translate-3d-box {
  transform: translate3d(20px, 30px, 40px);
}

.translate-rotate-box {
  transform: translate(20px, 30px) rotate(45deg);
}

.rotate-translate-box {
  transform: rotate(45deg) translate(20px, 30px);
}

.subpixel-rotate-translate-box {
  transform: rotate(45.3288deg) translate(20.23428px, 30.206238px);
}

/*---------------------------] Background Image [-----------------------*/

/*
 * Note that Chrome has a bug that will report the entire background
 * property if declared when querying style.backgroundPosition and
 * using CSS variables, so make sure to use background-image instead.
 */
/* TODO: rename to background-box */
.background-box {
  background-image: var(--small-image);
  background-position: 20px 40px;
  background-repeat: no-repeat;
}

.background-big-box {
  background-image: var(--big-image);
  background-position: 20px 40px;
  background-repeat: no-repeat;
}

.background-big-percent-box {
  background-image: var(--big-image);
  background-position: 25% 50%;
  background-repeat: no-repeat;
}

.background-multiple-box {
  background-image: var(--small-image), var(--big-image);
  background-position: 20px 40px, 50px 50px;
  background-repeat: no-repeat;
}

.background-percent-box {
  background-image: var(--small-image);
  background-position: 25% 50%;
}

.background-initial-box {
  background-image: var(--small-image);
  background-position: initial;
}

.background-x-domain-box {
  background-image: url(https://i.imgur.com/Z82AwNK.gifv);
}

/*---------------------------] Special Cases [-----------------------*/

.complex-box {
  top: auto;
  left: auto;
  bottom: 100px;
  right: 100px;
  z-index: 400;
  transform: rotate(45deg) translate(20px, 30px);
  background-image: var(--mock-image);
  background-position: 20px 40px;
  background-repeat: no-repeat;
}

.incomplete-box {
  top: 0;
  left: auto;
  width: 100px;
  height: auto;
}

.var-box {
  top:    var(--mock-position);
  left:   var(--mock-position);
  width:  var(--mock-position);
  height: var(--mock-position);
}

/*---------------------------] Alignment [-----------------------*/

.align-box-1 {
  top: 50px;
  left: 80px;
  width: 700px;
  height: 120px;
}

.align-box-2 {
  top: 550px;
  left: 420px;
  width: 30px;
  height: 9px;
}

.align-box-3 {
  top: 50px;
  left: 670px;
  width: 90px;
  height: 80px;
}

.align-box-4 {
  top: 120px;
  left: 100px;
  width: 200px;
  height: 140px;
}

/*---------------------------] Suite [-----------------------*/

body {
  /* Note these values are important to test positioning */
  margin: 0;
  padding: 0;
}

.test-fixtures {
  /*
   * Note we are using getBoundingClientRect, which requires the
   * elements to be rendered, even if they are not displayed, so
   * using visibility: hidden here.
   */
  visibility: hidden;
}

:root {
  --mock-position: 200px;

  /*
   * Data URI representing an image:
   *
   * ------
   * -rr---
   * -rr---
   * ---gg-
   * ---gg-
   * ------
   *
   * Where:
   *
   * - is a transprent pixel
   * r is a red pixel
   * g is a green pixel
   *
   */
  --small-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5QTdDN0E3REE5MDExMUU3OEE4M0RFODA4QjFFRTlEQyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5QTdDN0E3RUE5MDExMUU3OEE4M0RFODA4QjFFRTlEQyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjlBN0M3QTdCQTkwMTExRTc4QTgzREU4MDhCMUVFOURDIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjlBN0M3QTdDQTkwMTExRTc4QTgzREU4MDhCMUVFOURDIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+7OsEKgAAAC5JREFUeNpi/P//PwM2wAQi3vHx/QdhDAlsgBHZKMajXGDOf+tvjMTpQAYAAQYAl5sRE6ZOq60AAAAASUVORK5CYII=');

  /* A large red image 200px by 200px */
  --big-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAIAAAAiOjnJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpDQkI1RjZGOUFFN0IxMUU3QTI5OUIxNDFERjQzOTI1RiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpDQkI1RjZGQUFFN0IxMUU3QTI5OUIxNDFERjQzOTI1RiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkNCQjVGNkY3QUU3QjExRTdBMjk5QjE0MURGNDM5MjVGIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkNCQjVGNkY4QUU3QjExRTdBMjk5QjE0MURGNDM5MjVGIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+wP3dkgAAAXZJREFUeNrs0jERAAAIxDDAv+fHBANDIqHXTsG9kQBjYSyMBcbCWBgLjIWxMBYYC2NhLDAWxsJYYCyMhbHAWBgLY4GxMBbGAmNhLIwFxsJYGAuMhbEwFhgLY2EsMBbGwlhgLIyFscBYGAtjgbEwFsYCY2EsjAXGwlgYC4yFsTAWGAtjYSwwFsbCWGAsjIWxwFgYC2OBsTAWxgJjYSyMBcbCWBgLjIWxMBYYC2NhLDAWxsJYGAuMhbEwFhgLY2EsMBbGwlhgLIyFscBYGAtjgbEwFsYCY2EsjAXGwlgYC4yFsTAWGAtjYSwwFsbCWGAsjIWxwFgYC2OBsTAWxgJjYSyMBcbCWBgLjIWxMBYYC2NhLDAWxsJYYCyMhbHAWBgLY4GxMBbGAmNhLIwFxsJYGAuMhbEwFhgLY2EsMBbGwlhgLIyFsTAWGAtjYSwwFsbCWGAsjIWxwFgYC2OBsTAWxgJjYSyMBcbCWBgLjIWxMBYYi29WAAEGAIo9Ao8hclVgAAAAAElFTkSuQmCC');
}

