.box {
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
}

.z-box {
  z-index: 400;
}

.box--override {
  transform: rotate(30deg);
  z-index: 10;
}

.fixed-box {
  position: fixed;
}

.absolute-box {
  position: absolute;
}

.relative-box {
  position: relative;
}

.static-box {
  position: static;
}

.inverted-box {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 100px;
  right: 100px;
}

.big-box {
  width: 200px;
  height: 200px;
}

.transformed-box {
  transform: rotate(45deg) translate(20px, 30px);
}

.subpixel-transformed-box {
  transform: rotate(45.3288deg) translate(20.23428px, 30.206238px);
}

.incomplete-box {
  position: absolute;
  top: 0;
  width: 100px;
}

.matrix-box {
  transform: matrix3d(1,0,0,1,0,0);
}

.matrix-3d-box {
  transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
}

.perspective-box {
  transform: perspective(500px);
}

.rotate-box {
  transform: rotate(45deg);
}

.rotate-3d-box {
  transform: rotate3d(1, 2, 3, 20deg);
}

.rotate-x-box {
  transform: rotateX(20deg);
}

.rotate-y-box {
  transform: rotateY(20deg);
}

.rotate-z-box {
  transform: rotateZ(20deg);
}

.rotate-radian-box {
  transform: rotate(1.57rad);
}

.rotate-gradian-box {
  transform: rotate(100grad);
}

.rotate-turn-box {
  transform: rotate(.5turn);
}

.rotate-tl-box {
  transform-origin: top left;
  transform: rotate(45deg);
}

.rotate-tr-box {
  transform-origin: top right;
  transform: rotate(45deg);
}

.rotate-bl-box {
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.rotate-br-box {
  transform-origin: bottom right;
  transform: rotate(45deg);
}

.rotate-fixed-box {
  transform-origin: 20px 20px;
  transform: rotate(45deg);
}

.scale-box {
  transform: scale(2, 3);
}

.scale-3d-box {
  transform: scale(2, 3, 4);
}

.scale-x-box {
  transform: scaleX(2);
}

.scale-y-box {
  transform: scaleY(2);
}

.scale-z-box {
  transform: scaleZ(2);
}

.skew-box {
  transform: skew(20deg, 20deg);
}

.skew-x-box {
  transform: skewX(20deg);
}

.skew-y-box {
  transform: skewY(20deg);
}

.translate-box {
  transform: translate(20px, 30px);
}

.translate-x-box {
  transform: translateX(20px);
}

.translate-y-box {
  transform: translateY(20px);
}

.translate-z-box {
  transform: translateZ(20px);
}

.translate-percent-box {
  transform: translate(20%, 30%);
}

.translate-3d-box {
  transform: translate3d(20px, 30px, 0);
}

/*
 * Note that Chrome has a bug that will report the entire background
 * property if declared when querying style.backgroundPosition and
 * using CSS variables, so make sure to use background-image instead.
 */
.background-image-box {
  background-image: var(--mock-image);
  background-position: 20px 40px;
  background-repeat: no-repeat;
}

.background-multiple-box {
  background-image: var(--mock-image), var(--mock-image);
  background-position: 20px 40px, 50px 50px;
  background-repeat: no-repeat;
}

.background-percent-box {
  background-position: 25% 50%;
}

.var-box {
  top:    var(--mock-position);
  left:   var(--mock-position);
  width:  var(--mock-position);
  height: var(--mock-position);
}

.align-box-1 {
  top: 50px;
  left: 80px;
  width: 700px;
  height: 120px;
}

.align-box-2 {
  top: 550px;
  left: 420px;
  width: 30px;
  height: 9px;
}

.align-box-3 {
  top: 50px;
  left: 670px;
  width: 90px;
  height: 80px;
}

.align-box-4 {
  top: 120px;
  left: 100px;
  width: 200px;
  height: 140px;
}

body {
  /* Note these values are important to test positioning */
  margin: 0;
  padding: 0;
}

.test-fixtures {
  /*
   * Note we are using getBoundingClientRect, which requires the
   * elements to be rendered, even if they are not displayed, so
   * using visibility: hidden here.
   */
  visibility: hidden;
}

:root {
  --mock-position: 200px;

  /*
   * Data URI representing an image:
   *
   * ------
   * -rr---
   * -rr---
   * ---gg-
   * ---gg-
   * ------
   *
   * Where:
   *
   * - is a transprent pixel
   * r is a red pixel
   * g is a green pixel
   *
   */
  --mock-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5QTdDN0E3REE5MDExMUU3OEE4M0RFODA4QjFFRTlEQyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5QTdDN0E3RUE5MDExMUU3OEE4M0RFODA4QjFFRTlEQyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjlBN0M3QTdCQTkwMTExRTc4QTgzREU4MDhCMUVFOURDIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjlBN0M3QTdDQTkwMTExRTc4QTgzREU4MDhCMUVFOURDIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+7OsEKgAAAC5JREFUeNpi/P//PwM2wAQi3vHx/QdhDAlsgBHZKMajXGDOf+tvjMTpQAYAAQYAl5sRE6ZOq60AAAAASUVORK5CYII=');
}

