.box {
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  z-index: 2;
}

.box--override {
  transform: rotate(30deg);
  z-index: 10;
}

.fixed-box {
  position: fixed;
}

.absolute-box {
  position: absolute;
}

.relative-box {
  position: relative;
}

.static-box {
  position: static;
}

.inverted-box {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 100px;
  right: 100px;
}

.rotated-box {
  transform: rotate(45deg);
}

.translated-box {
  transform: translate(20px, 30px);
}

.transformed-box {
  transform: rotate(45deg) translate(20px, 30px);
}

.subpixel-transformed-box {
  transform: rotate(45.3288deg) translate(20.23428px, 30.206238px);
}

.align-box-1 {
  top: 50px;
  left: 80px;
  width: 700px;
  height: 120px;
}

.align-box-2 {
  top: 550px;
  left: 420px;
  width: 30px;
  height: 9px;
}

.align-box-3 {
  top: 50px;
  left: 670px;
  width: 90px;
  height: 80px;
}

.align-box-4 {
  top: 120px;
  left: 100px;
  width: 200px;
  height: 140px;
}
