
body,h2,h3,h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

h2,h3,h4,p {
  margin: 0;
}

ul {
  margin: 5px 0;
}

.tests-passed {
  color: green;
}

.tests-failed {
  color: #da0e0e;
}

.test-totals {
  float: right;
  text-align: right;
  padding-left: 50px;
  margin: 25px 25px 0 0;
}

.test-suite {
  overflow: hidden;
  margin-bottom: 20px;
  padding: 25px;
}

.test-suite-header {
  margin-bottom: .5em;
  border-bottom: 1px solid #ccc;
}

.test-runtime {
  margin-top: .5em;
  color: #888;
  font-size: 14px;
}
